<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Property
                </div>
            </div>
            <div>
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <table class="table table-bordered ">
                            <tr>
                                <td width ="200">
                                    <h:outputLabel value="streetNumber" for="streetNumber" />
                                </td>
                                <td>
                                    <h:inputText id="streetNumber" value="#{property.streetNumber}" title="streetNumber" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="streetAddress" for="streetAddress" />
                                </td>
                                <td>
                                    <h:inputText id="streetAddress" value="#{property.streetAddress}" title="streetAddress" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="suburb" for="suburb" />
                                </td>
                                <td>
                                    <h:inputText id="suburb" value="#{property.suburb}" title="suburb" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="state" for="state" />
                                </td>
                                <td>
                                    <h:inputText id="state" value="#{property.state}" title="state" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="postcode" for="postcode" />
                                </td>
                                <td>
                                    <h:inputText id="postcode" value="#{property.postcode}" title="postcode" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="Size:" for="size" />
                                </td>
                                <td>
                                    <h:inputText id="size" value="#{property.size}" title="Size" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="NumberOfBedrooms:" for="numberOfBedrooms" />
                                </td>
                                <td>
                                    <h:inputText id="numberOfBedrooms" value="#{property.numberOfBedrooms}" title="NumberOfBedrooms" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="Price:" for="price" />
                                </td>
                                <td>
                                    <h:inputText id="price" value="#{property.price}" title="Price" />
                                </td>

                            </tr>
                            <tr>
                                <td width ="100" valign="top">Contact Person: </td>
                                <td>
                                    <h:selectOneMenu id="contact" value="#{property.contactPerson}" converter="contactPerson">
                                        <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                        <f:selectItems value="#{propertyManagedBean.allContactPeople}" var="c"  
                                                       itemLabel="#{c.name}" itemValue="#{c}" />
                                    </h:selectOneMenu>
                                </td>
                            </tr>      
                            <tr>
                                <td height="30">

                                </td>
                                <td>

                                </td>

                            </tr>
                        </table>

                        <h:commandButton id="submit" value="Submit" action="#{addProperty.addProperty(property)}" class="btn btn-primary" />
                        <h:link id="close" value="Close" action="index.xhtml" class="btn btn-primary" />

                    </h:form>

                </f:view>
            </div>
        </div>

    </h:body>
</html>

